/* Mobile */
@media (max-width: 600px) {
  header nav {
    display: none;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  header nav li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    color: white;
    font-size: 23px;
  }

  #about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #about-us img {
    height: 15em;
  }

  .info {
    width: 90%;
  }
}
